<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu.mapper.SpeciesMapper">
    <select id="getSpeciesById" parameterType="string" resultType="Species">
        select *
        from species1
        where species_id = #{id}
    </select>
    <select id="getAllSpeciesId" resultType="string">
        select species_id
        from species1
    </select>
    <select id="getSpeceisByTaxId" parameterType="string" resultType="Species">
        select *
        from species
        where tax_id = #{taxId}
    </select>
    <select id="getAllSpecies" resultType="Species">
        select *
        from species1
    </select>
    <select id="getOrganismNameBySpeciesId" parameterType="string" resultType="string">
        select species_name
        from species
        where species_id = #{id}
    </select>
    <select id="getNameByTaxId" parameterType="string" resultType="string">
        select organism
        from km_min
        where tax_id = #{taxId}
        limit 1
    </select>
    <select id="getSpeciesIdByTaxId" parameterType="string" resultType="string">
        select species_id
        from species
        where tax_id = #{taxId}
    </select>
</mapper>